.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    text-align: left;
    width: 100%;
}

.table th:last-child,
.table td:last-child {
    width: 100%;
}

.table th {
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.table tr {
    display: flex;
    align-items: center;
}

.table td {
    padding-block: 1rem;
    font-size: 16px;
}

.product_table tr {
    padding: 10px;
}

.product_table th {
    font-weight: 700;
    font-size: 1.05rem;
}

.product_table tr:nth-child(even) {
    background: var(--primary);
    color: #fff;
}

.product_table td {
    padding-block: .5rem;
}

.product_table th:nth-child(2),
.product_table td:nth-child(2) {
    width: 100%;
}

.product_table th,
.product_table td {
    width: 70%;
}

.product_table th.index,
.product_table td.index,
.product_table th.stock,
.product_table td.stock {
    width: 30%;
}

.product_table th.checkbox,
.product_table td.checkbox{
    width: 20%;
}

.product_table th.status,
.product_table td.status {
    width: 40%;
}


.table tbody tr {
    padding-block: .5rem 0;
}

.table span {
    font-size: .85rem;
    font-weight: 700;
    /* border: 1px solid; */
    padding: 5px 8px;
    border-radius: 20px;
}

.table span.in_stock {
    color: #1d9d1d;
    border-color: #1d9d1d;
    background: #62da6275;
}

.table span.out_of_stock {
    color: #f14747;
    border-color: #f14747;
    background: #f97a7a75;
}