.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    text-align: left;
    width: 75%;
}

.table th:last-child,
.table td:last-child {
    width: 100%;
}

.table th {
    color: gray;
    font-size: 15px;
    font-weight: 400;
}

.table tr {
    display: flex;
    align-items: center;
}

.table td {
    padding-block: 1rem;
    font-size: 16px;
}

.table tbody tr {
    padding-block: .5rem 0;
}

.table span {
    font-size: .85rem;
    font-weight: 700;
    /* border: 1px solid; */
    padding: 5px 8px;
    border-radius: 20px;
}

.table span.in_stock {
    color: #1d9d1d;
    border-color: #1d9d1d;
    background: #62da6275;
}

.table span.out_of_stock {
    color: #f14747;
    border-color: #f14747;
    background: #f97a7a75;
}