.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-block: 15px;
}

.dashboard_intro {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.stats,
.best_sales,
.performa,
.dashboard_intro>div {
    background: #00000013;
    border: 2px solid #00000016;
    border-radius: 10px;
    padding: 15px;
}

.stats {
    grid-column: 3/5;
}

.best_sales {
    grid-column: 1/4;
}

.performa {
    grid-column: 4/5;
}

.dashboard_intro>div {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_intro>div>:first-child {
    font-size: 1.5rem;
}

.dashboard_intro>div>:last-child {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.dashboard_intro .card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_header .caret {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    font-size: .85rem;
    font-weight: 700;
    /* border: 2px solid; */
    padding: 5px 8px;
    border-radius: 20px;
}

.increase {
    color: #1d9d1d;
    border-color: #1d9d1d;
    background: #62da6275;
}

.decrease {
    color: #f14747;
    border-color: #f14747;
    background: #f97a7a75;
}

.stats .range {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: .9rem;
    color: #767880;
    font-weight: 700;
}

.range span {
    cursor: pointer;
    transition: 0.3s all;
}

.range span:hover {
    color: var(--accent);
}
