.layout {
    display: grid;
    grid-template-areas:
        'sidebar header header header header header'
        'sidebar main main main main main'
        'sidebar footer footer footer footer footer';
    padding: 15px;
    gap: 15px;
    /* position: relative; */
}

.layout>* {
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #00000016;
    background: #00000013;
}

.move {
    padding: 0px;
    height: 25px;
    width: 7px;
    position: absolute;

    left: 270px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    transition: all 0.4s;
}

.move:hover {
    background: #5a586e !important;
}

.move.close{
    left: 20px;
}

.layout header {
    grid-area: header;
    width: calc(100vw - 305px);
}

.layout .sidebar {
    grid-area: sidebar;
    width: 250px
}

#move:checked ~ .layout .sidebar {
    left: -270px;
    display: none;
}

.layout main {
    grid-area: main;
    min-height: calc(100vh - 11.5rem);
    /* left: 300px; */
    width: calc(100vw - 305px);
    background: transparent;
    padding: 0;
    border: none;
}

.layout footer {
    grid-area: footer;
    width: calc(100vw - 305px);
}

.sidebar .sidebar_items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar .sidebar_items li {
    padding: 10px;
    /* border: 1px solid black; */
    border-radius: 10px;
}

.sidebar .active {
    background: var(--primary);
}

.active a {
    color: var(--secondary);
    font-weight: 700;
}

.sidebar .sidebar_items li a {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.sidebar .sidebar_items li svg {
    font-size: 1.1rem;
}

.sidebar .burger {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    cursor: pointer;
}

.sidebar.hide .sidebar_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.hide .sidebar_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger>div {
    background: #000;
    width: 1.4rem;
    height: 3px;
    border-radius: 15px;
}

.search {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.search input {
    width: 100%;
    padding-block: 10px;
    padding-inline: 35px 10px;
    border-radius: 10px;
}

.search span {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.search span svg {
    font-size: 1.1rem;
}

.profile {
    display: flex;
    gap: 1.5rem;
}

.profile span {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.profile svg {
    font-size: 1.1rem;
}

.layout .sidebar.hide {
    width: 80px;
}

.sidebar.hide .sidebar_list,
.sidebar.hide h4 {
    display: none;
}

.sidebar.hide .sidebar_items li svg {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
@media screen and (max-width: 1024px) {

    .layout header {
        width: calc(100vw - 135px);
    }

    .layout main {
        left: 300px; 
        width: calc(100vw - 135px);
    }

    .sidebar .sidebar_list,
    .sidebar.hide .sidebar_list,
    .sidebar.hide h4,
    .sidebar h4 {
        display: none;
    }

    .sidebar .sidebar_items li svg,
    .sidebar.hide .sidebar_items li svg {
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */